**EXPERIMENT_1**

In [1]:
#1. Declare a string variable called x and assign it the value “Hello”
#a. Print out the value of x

x = "Hello"
print(x)

Hello

In [2]:
#2. Create a variable to store your age and print its type using type().
age = 18
print(age)
type(age)

18

int

In [3]:
#3. Declare a string variable called x and assign it the value “Hello”
#a. Print out the value of x

x = "Hello"
print(x)

Hello

In [4]:
#4. Take different data types and print values using print function.
# 1. Integer
age = 20

# 2. Float
height = 5.10

# 3. String
name = "MAJID"

# 4. Boolean
is_student = True

# 5. List
marks = [85, 90, 78]

# Printing the values
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)
print("Marks List:", marks)

Name: MAJID
Age: 20
Height: 5.1
Is Student: True
Marks List: [85, 90, 78]

In [5]:
#5. Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform
#addition, multiplication, division and subtraction on these two variables and Print out the result.
x = 9
y = 7

# Addition
z = x + y
print("Addition:", z)

# Multiplication
z = x * y
print("Multiplication:", z)

# Subtraction
z = x - y
print("Subtraction:", z)

# Division
z = x / y
print("Division:", z)

Addition: 16
Multiplication: 63
Subtraction: 2
Division: 1.2857142857142858

In [6]:
#6. Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.
# p is perpendicular
# b is Base
# H is hypotenuse
p = int(input("Enter Perpendicular:"))
b = int(input("Enter base:"))
H = ((p**2)+(b**2))**(1/2)

print("Hypotenuse:",H)

Enter Perpendicular:5
Enter base:5
Hypotenuse: 7.0710678118654755

In [7]:
#7. Write a program to find simple interest.
Principal = float(input("Enter Principal:"))
Rate = float(input("Enter Rate:"))
Time = float(input("Enter Time:"))
SI = (Principal*Rate*Time)/100
print("Simple Interest:",SI)

Enter Principal:5
Enter Rate:5
Enter Time:5
Simple Interest: 1.25

In [8]:
#8. Write a program to find area of triangle when length of sides are given.
length1 = float(input("Enter 1st side:"))
length2 = float(input("Enter 2nd side:"))
length3 = float(input("Enter 3rd side:"))

# Calculating Semi-perimeter
s = (length1 + length2 + length3) / 2
# Using Heron's Formula
A = (s * (s - length1) * (s - length2) * (s - length3)) ** 0.5

print("Area",A)

Enter 1st side:8
Enter 2nd side:5
Enter 3rd side:4
Area 8.181534085976786

In [9]:
#9. Write a program to convert given seconds into hours, minutes and remaining seconds.
total_sec = int(input("Enter seconds: "))

# 1. Get hours (3600 seconds in 1 hour)
h = total_sec // 3600

# 2. Get minutes from the remaining seconds
# We use % 3600 to get what's left after hours, then // 60 for minutes
m = (total_sec % 3600) // 60

# 3. Get the final leftover seconds
s = total_sec % 60

print("Hours:", h)
print("Minutes:", m)
print("Seconds:", s)

Enter seconds: 5
Hours: 0
Minutes: 0
Seconds: 5

In [11]:
#10. Write a program to swap two numbers without taking additional variable.
x = int(input("Enter 1st no:"))
y = int(input("Enter 2nd no:"))
x , y = y , x
print("Swapped Values:")
print(x)
print(y)

Enter 1st no:5
Enter 2nd no:5
Swapped Values:
5
5

In [12]:
#11. Write a program to find sum of first n natural numbers.
n = int(input("Enter a number: "))

# Use // for integer division to avoid getting a .0 decimal
sum_n = (n * (n + 1)) // 2

print("The sum is:", sum_n)

Enter a number: 4
The sum is: 10

In [13]:
#12. Write a program to print truth table for bitwise operators (&, | and ^ operators).
print("A B A&B A|B A^B")
for a in [0,1]:
   for b in  [0,1]:
    print(a, b, a & b, a | b, a ^ b)

A B A&B A|B A^B
0 0 0 0 0
0 1 0 1 1
1 0 0 1 1
1 1 1 1 0

In [14]:
#13. Write a program to find left shift and right shift values of a given number.
num = 8
print("Left shift:", num <<1)
print("Right shift:", num >>1)

Left shift: 16
Right shift: 4

In [15]:
#14. Using membership operator find whether a given number is in sequence (10,20,56,78,89)
seq = (10,20,56,78,89)
num = 56
print(num in seq)

True